= form_with model: @rally do |f|
  = f.text_field :title, { class: "form-control mb-3", placeholder: "Titre..." }
  = react_component("Ckeditor5", name: "rally[presentation]", value: @rally.presentation)
  = f.submit @rally.new_record? ? "Créer un rallye" : "Editer le rallye", { class: "btn btn-success mb-3 w-100"}
