.container
  = react_component("Rally", rally: @rally)

  = render 'articles/form', article: Article.new, rally: @rally

  %h3.text-center Articles
  - @rally.articles.each do |article|
    = react_component("Article", article: article.to_react)
