.div
  .fat-hero-image.d-flex.flex-column.justify-content-between.py-2.px-2
    .text-light.d-flex.justify-content-around
      %h1 En Voiture Simone !
  .bg-hero-image.d-flex.flex-column
    .row.m-0
      .col-sm-6.col-xs-6
        .h-100.d-flex.flex-column.justify-content-center.m-3 
          .div
            = image_tag("roses_sables_1.jpg", class: "img-fluid ")
      .col-sm-6.col-xs-6.d-flex.flex-column.justify-content-center
        .bg-transparent-light.p-4.m-4
          %h3
            C'est avec plaisir que nous vous accueillons sur notre site.
          %p
            Nous allons,
            vivre une superbe aventure, avec et grâce à vous,
            mener des actions solidaires ,
            faire de belles rencontres à toutes les étapes.
            Nous avons besoin de vous,
            pour rassembler du matériel destinés aux associations soutenues par le Trophée,
            pour gagner chaque jours des kilomètres qui nous mènerons à l'arrivée du Rallye.
            1€ = 1km
          %strong
            Alors, EN VOITURE SIMONE !
    .container.mt-auto.mb-2
      %hr
      %i
        « Qu’elle ait la peau noire, blanche, jaune ou violette, chaque femme est -devrait être- solidaire de toutes les femmes du monde entier et œuvrer, dans son domaine, sans esprit messianique, pour la justice » 
        %br
        \- Renée Saurel
