// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bg-hero-image{
  background-image: url("envoituresimone-banner-trimmed.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 1000px;
 }

.bg-transparent-light{
  background: rgba(255,255,255, 0.6)
  }
