%footer{class: "mt-auto page-footer font-small blue pt-4 bg-light "}
  %div{class: "footer-copyright text-center py-4"}
    %p
      Association loi 1er juillet 1901 :
      %a{href: "/"} envoituresimone
